body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#E1E8E8;
}


.header-menu{
  height: 50px;
  background-color: #C86227;
  line-height: 50px;

}

.header-menu div{
  width:100%;
  display:flex;
  align-items:stretch;

}
.header-menu a{
  color:white;
  padding-left:20px;
  padding-right:20px;
  flex:1;
  text-align: center;
}

.title-menu{
    width: 50%;
    background-color: rgba(200, 98, 39, .25);
    display: inline-flex;
    flex-direction: row-reverse;
    position: relative;
    left: 50%;
    height: 100px;
}