<!DOCTYPE html>
<html class="admin_html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PHLA Admin Videos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/admin.css" />
</head>


<body>
<div class="video">
    <h1 class="video_title">Dummy Title</h1>
    <video controls="controls" src="/static/test.mp4" class="admin_video"></video>
</div>
<div class="video_entry"> THE FORM GOES HERE



</div>
</body>
</html>