<!DOCTYPE html>
<html class="admin_html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PHLA Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/admin.css" />
    <script src="main.js"></script>
</head>
<body>
    <div>
    <h1> Welcome to the Admin Page</h1>
    {% if show_error %}
    <div class="error_message">
        <p><strong>WRONG USERNAME AND/OR PASSWORD, PLEASE TRY AGAIN.
        </strong></p>
    </div>
    {% endif %}
    <form action="/login" method="POST">
        <p><label>Enter Username</label>
        <input class="admin_input" name="username" placeholder="" type="text" /> </p>

      <p> <label>Enter Password</label>
        <input class="admin_input"placeholder="" name="password" type= "password" /> </p> 
        <input class= "admin_button" type= "submit"/> 
    </form>

    </div>

</body>                             
</html>