<!DOCTYPE> 
<html class= "admin_html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/admin.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class= "dashboard" style= border:0px>
    <h1>Dashboard</h1>
    </div>
    
    <div class="welcome_message">
        Welcome User!
    </div>

    <nav class="Video_Info">
        <ol>
            <li>
                Video 1
                <ul>
                    <li><a href="">Video Name</a></li>
                    <li><a href="">Area</a></li>
                    <li><a href="">Upload Time</a></li>
                </ul>
            </li>
            <li>
                Video 2
                <ul>
                    <li><a href="">Video Name</a></li>
                    <li><a href="">Area</a></li>
                    <li><a href="">Upload Time</a></li>
                </ul>
            </li>
            <li>
                Video 3
                <ul>
                    <li><a href="">Video Name</a></li>
                    <li><a href=""> Area</a></li>
                    <li><a href="">Upload Time</a></li>
                </ul>
            </li>

            <li>
                Video 4
                <ul>
                    <li><a href="">Video Name</a></li>
                    <li><a href=""> Area</a></li>
                    <li><a href="">Upload Time</a></li>
                </ul>
            </li>
        </ol>
    </nav>
</body>
</html>