<!DOCTYPE> 
<html class= "admin_html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PHLA Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/admin.css" />
    <script src="main.js"></script>


<div class="topnav">
    <a class="active" href="#context">Context</a>
    <a href="#videos">Videos</a>
    <a href="#dashboard">Dashboard</a>
  </div>
</head>

<body>
    <div>
        <form class="context">
            <p class= "spacing"><label>Video Title</label></p>
            <input class="admin_input" title="Video Title" placeholder="" type="text"/></p>

            <p class= "spacing"><label>Location</label></p>
            <input class="admin_input" title="Location" placeholder="" type="text"/></p>

            <p class= "spacing"> <label>Context</label></p>
            <p class= "other_spacing"> <textarea class= "text_area"></textarea></p>
    </div>

        </form>
    <div class="Add_Reference"> 
        <input class= "admin_button" type= "reference"/> 
    </div> 
       
    
    
    
    
</body>