<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PHLA Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/admin.css" />
    <script src="main.js"></script>
</head>
<body>
    <div>
    <h1>Welcome to the Admin Page</h1>
    <form>
        <p><label>Enter Username</label>
        <input placeholder="" type="text" /> </p>

      <p> <label>Enter Password</label>
        <input placeholder="" type= "password" /> </p> 
        <input type= "submit"/> 
    </form>

    </div>

</body>                             
</html>