<!DOCTYPE html>
<html class="admin_html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PHLA Admin Videos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/admin.css" />
</head>


<body>
<div class="video">
    <h1 class="video_title">Dummy Title</h1>
    <video controls="controls" src="/static/test.mp4" class="admin_video"></video>
</div>
<div class="video_entry"> 
        <form action="/admin" method="POST">
            <p><label>Video Title</label>
            <input class="admin_input" title="Video Title" placeholder="" type="text" /> </p>
            
            <p><label>Decade</label>
                <select name="Decade">
                    <option value="1970">1970</option>
                    <option value="1980">1980</option>
                    <option value="1990">1990</option>
                    <option value="2000">2000</option>
                    <option value="2010">2010</option>
                </select>
            </p>
            <p><label>Video</label>
            <input claas="admin_input" title="Upload Video" placeholder="" type="file"/></p>
            
            <p><label>Latitude</label>
            <input class="admin_input" title="Latitude" placeholder="" type="number"/></p>
            
            <p><label>Longitude</label>
            <input class="admin_input" title="Longitude" placeholder="" type="number"/></p>
            
            <p class= "spacing"> <label>Credits</label></p>
            <p class= "other_spacing"> <textarea class= "text_area"></textarea></p>
           

            <p>
            <input class="admin_button" type="submit"/></p>
        </form>
    



</div>
</body>
</html>