<!DOCTYPE> 
<html class= "admin_html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PHLA Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/admin.css" />

</head>

<body>

    <div class="topnav">
            <a href="/admin/dashboard">Dashboard</a>
            <a href="/admin/video/{{story.id}}">Videos</a>
            <a class="active" href="/admin/context/{{story.id}}">Context</a>
    <div class="context_settings">
    
            <p class= "spacing"><strong>Video Title:</strong> {{story.title}}</p>
            <p class= "spacing">Location:
            
            {% for hood in neighborhoods %}
                {% if story.area == hood.value %}
                {{hood.label}}
                {% endif %}
            {% endfor %}</p>
                    
               
        <form action="/admin/context/{{story.id}}" method="POST">
            <p class= "spacing"> <label>Context</label></p>
            <p class= "other_spacing"> <textarea class="context_textarea" name="text">{{story.context.text}}</textarea></p>
            <input class="admin_button" type="submit" value="Submit" />
        </form>
    </div>

        
    <div class="Add_Reference"> 
        <input class= "admin_button" type= "submit" value= "Add Reference">
    </div> 

    <div class="context_settings">
        <p class= "spacing">Reference</p>
        <input class="admin_input" title="Reference" placeholder="" type= "text">
        <input class= "admin_button" type="submit" value= "Remove Reference"/>

    </div>
       
    
    
    
    
</body>