

.admin_html{
    font-family: sans-serif;
    background-color: rgb(131, 128, 128);
}

.spacing{
    margin-bottom: 0px;

}
.other_spacing{
    margin-top: 0px;
}

.welcome_message{
    background-color: rgb(141, 141, 19);
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 30px;
    text-align: center;
    margin-bottom: 50px;
    

    
}
.text_area{
    width: 400px;
    height: 100px;
    border-radius: 10px;

}
.admin_html{
    background-color: lightgrey;
}

.Add_Reference{
    border: none;

}
    
h1
{
    color:black;
    font-family: sans-serif;
    margin-bottom: 5px;
    
}
.admin_input{
    padding: 4px;
    border-radius: 10px;
    
}
.admin_button{
    padding: 8px;
    background-color:rgb(141, 141, 19);
    text: black;
}
.error_message{
    padding: 0px;
    color:white;
    border-radius:0px;
    background-color: red;
    margin-right: 10px;
    border: none;
}
.admin_video{
    width: 100%;
    
}
div{
    border: black solid;
    border-width: 2px;
    padding-left: 10px;
    padding-bottom: 25px;
    border-radius: 10px;  
    
}
.video{
    float:left;
    width:50%;
    padding-right: 10px
}

.video_title{
    text-align: center;
}
.video_entry{
    float: right;
    border: none;
    margin-right: 10px;
    float: left;

}
ul {
    list-style: disc;
    padding-left: 40px;
  }
ol {
    list-style: upper-roman;
    padding-left: 40px;
  }

.video_info{
    float: left;
    width:44%;
    border-right:black solid;
    border-width:2px;
    border-bottom: none;
    border-top: none;
    border-left:none;
    border-radius:0px;
    padding-right: 20px;
}
.topnav{
    border: none;
    text-align: center;
}