

.admin_html{
    font-family: sans-serif;
    background-color: rgb(131, 128, 128);

}
.welcome_message{
    background-color: rgb(184, 184, 26);
    color: white;
    font-weight: bold;
}
.admin_html{
    background-color: lightgrey;
}
    
h1
{
    color:black;
    font-family: sans-serif;
    
}
.admin_input{
    padding: 4px;
    border-radius: 10px;
    
}
.admin_button{
    padding: 8px;
    background-color:white;
}
.error_message{
    padding: 0px;
    color:white;
    border-radius:0px;
    background-color: red;
    margin-right: 10px;
    border: none;
}

div{
    border: black solid;
    border-width: 2px;
    padding-left: 10px;
    padding-bottom: 25px;
    border-radius: 10px;  
    
    
    
}


