


.admin_html{
    font-family: sans-serif;
    background-color: rgb(131, 128, 128);
    
}

h1{
    color: pink;
}
.admin_input{
    padding: 4px;
    border-radius: 10px;
    
}
.admin_button{
    padding: 8px;
    background-color: pink;
}
.error_message{
    padding: 0px;
    color:white;
    border-radius:0px;
    background-color: red;
    margin-right: 10px;
    border: none;
}

div{
    border: solid 2px black;
    padding-left: 10px;
    padding-bottom: 25px;
    border-radius: 10px;
  
}